body {
 background-color: rgb(118, 98, 2);
}
#id{
    border: 10px;
    border-radius: 2px;
    height: 20px;
    
}
.container {
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 600px;
    margin-right: 500px;
    background-origin: padding-box;
    border: 10px;
}
.box{
    border: 100px;
}